body{
    background: linear-gradient(100deg, rgb(8, 8, 141), rgb(197, 197, 14) );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: yellow;
}